# 4 Training and Modeling Data<a id='4_Training_and_Modeling_Data'></a>

## Contents <a id ="Content" > </a>

* [Introduction](#Introduction)
* [Imports](#Imports)
* [Train Test Split](#Train_Test_Split) 
* [Training and Modeling](#Training_and_Modeling)
    * [Model Selection](#Model_Selection)
    * [Evaluation Metrics](#Evaluation-Metrics)
        * [Training and Modeling](#Train_and_Model)
        * [Hyperparameter Tuning and Model Training](#Hyperparameter_Tuning_Training)
            * [Logistic Regression](#Logistic_Regression)
            * [Evaluation](#Evaluation)
* [Additional Models](#AdditionalModels)
* [Summary](#Summary)
* [Recommendations](#Recom)

## Introduction <a id = 'Introduction'></a>

## Imports <a id="Imports"></a>

In [25]:
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

# remove warning
import warnings
warnings.filterwarnings("ignore")

In [2]:
X_train = pd.read_csv("../data/4.X_trained_df.csv")
y_train = pd.read_csv("../data/4.y_trained.csv")
X_test = pd.read_csv("../data/4.X_test.csv")
y_test = pd.read_csv("../data/4.y_test.csv")

In [3]:
X_train.shape,y_train.shape

((7088, 43), (7088, 1))

In [4]:
X_test.shape,y_test.shape

((3039, 43), (3039, 1))

In [5]:
X_train.describe().T

,count,mean,std,min,25%,50%,75%,max
Customer_Age,7088.0,-3.454018e-16,1.000071,-2.531322,-0.661337,-0.038008,0.709986,3.327966
Credit_Limit,7088.0,8.597793e+00,0.930669,7.271217,7.841395,8.418587,9.298671,10.449178
Total_Revolving_Bal,7088.0,9.103482e-01,0.638103,0.000000,0.248822,1.000000,1.396112,1.977219
Total_Trans_Amt,7088.0,8.167921e+00,0.656979,6.390241,7.674617,8.267449,8.468633,9.824661
Avg_Utilization_Ratio,7088.0,2.753070e-01,0.276635,0.000000,0.023000,0.175000,0.502000,0.999000
Months_on_book,7088.0,4.630488e+01,8.022018,26.000000,41.000000,46.000000,52.000000,73.000000
Gender_M,7088.0,4.671275e-01,0.498953,0.000000,0.000000,0.000000,1.000000,1.000000
Dependent_count_1,7088.0,1.795993e-01,0.383880,0.000000,0.000000,0.000000,0.000000,1.000000
Dependent_count_2,7088.0,2.650959e-01,0.441415,0.000000,0.000000,0.000000,1.000000,1.000000
Dependent_count_3,7088.0,2.684819e-01,0.443201,0.000000,0.000000,0.000000,1.000000,1.000000
Dependent_count_4,7088.0,1.543454e-01,0.361305,0.000000,0.000000,0.000000,0.000000,1.000000
Dependent_count_5,7088.0,4.246614e-02,0.201664,0.000000,0.000000,0.000000,0.000000,1.000000
Education_Level_sorted_2,7088.0,2.044300e-01,0.403313,0.000000,0.000000,0.000000,0.000000,1.000000
Education_Level_sorted_3,7088.0,4.506208e-01,0.497591,0.000000,0.000000,0.000000,1.000000,1.000000
Education_Level_sorted_4,7088.0,1.028499e-01,0.303784,0.000000,0.000000,0.000000,0.000000,1.000000
Education_Level_sorted_5,7088.0,4.966140e-02,0.217260,0.000000,0.000000,0.000000,0.000000,1.000000
Education_Level_sorted_6,7088.0,4.528781e-02,0.207949,0.000000,0.000000,0.000000,0.000000,1.000000
Marital_Status_sorted_2,7088.0,3.831828e-01,0.486197,0.000000,0.000000,0.000000,1.000000,1.000000
Marital_Status_sorted_3,7088.0,7.590293e-02,0.264861,0.000000,0.000000,0.000000,0.000000,1.000000
Income_Category_sorted_2,7088.0,1.745203e-01,0.379583,0.000000,0.000000,0.000000,0.000000,1.000000
Income_Category_sorted_3,7088.0,1.495485e-01,0.356653,0.000000,0.000000,0.000000,0.000000,1.000000
Income_Category_sorted_4,7088.0,1.386851e-01,0.345642,0.000000,0.000000,0.000000,0.000000,1.000000
Income_Category_sorted_5,7088.0,7.138826e-02,0.257490,0.000000,0.000000,0.000000,0.000000,1.000000
Card_Category_sorted_Gold,7088.0,1.114560e-02,0.104990,0.000000,0.000000,0.000000,0.000000,1.000000
Card_Category_sorted_Platinum,7088.0,1.975169e-03,0.044402,0.000000,0.000000,0.000000,0.000000,1.000000
Card_Category_sorted_Silver,7088.0,5.332957e-02,0.224706,0.000000,0.000000,0.000000,0.000000,1.000000
Total_Relationship_Count_2,7088.0,1.237302e-01,0.329297,0.000000,0.000000,0.000000,0.000000,1.000000
Total_Relationship_Count_3,7088.0,2.303894e-01,0.421112,0.000000,0.000000,0.000000,0.000000,1.000000
Total_Relationship_Count_4,7088.0,1.863713e-01,0.389434,0.000000,0.000000,0.000000,0.000000,1.000000
Total_Relationship_Count_5,7088.0,1.828442e-01,0.386566,0.000000,0.000000,0.000000,0.000000,1.000000
Total_Relationship_Count_6,7088.0,1.852427e-01,0.388522,0.000000,0.000000,0.000000,0.000000,1.000000
Months_Inactive_12_mon_1,7088.0,2.200903e-01,0.414337,0.000000,0.000000,0.000000,0.000000,1.000000
Months_Inactive_12_mon_2,7088.0,3.249153e-01,0.468376,0.000000,0.000000,0.000000,1.000000,1.000000
Months_Inactive_12_mon_3,7088.0,3.778217e-01,0.484877,0.000000,0.000000,0.000000,1.000000,1.000000
Months_Inactive_12_mon_4,7088.0,4.528781e-02,0.207949,0.000000,0.000000,0.000000,0.000000,1.000000
Months_Inactive_12_mon_5,7088.0,1.566027e-02,0.124166,0.000000,0.000000,0.000000,0.000000,1.000000
Months_Inactive_12_mon_6,7088.0,1.283860e-02,0.112586,0.000000,0.000000,0.000000,0.000000,1.000000
Contacts_Count_12_mon_1,7088.0,1.439052e-01,0.351018,0.000000,0.000000,0.000000,0.000000,1.000000
Contacts_Count_12_mon_2,7088.0,3.181433e-01,0.465788,0.000000,0.000000,0.000000,1.000000,1.000000
Contacts_Count_12_mon_3,7088.0,3.347912e-01,0.471951,0.000000,0.000000,0.000000,1.000000,1.000000
Contacts_Count_12_mon_4,7088.0,1.406603e-01,0.347695,0.000000,0.000000,0.000000,0.000000,1.000000
Contacts_Count_12_mon_5,7088.0,1.735327e-02,0.130593,0.000000,0.000000,0.000000,0.000000,1.000000
Contacts_Count_12_mon_6,7088.0,5.361174e-03,0.073029,0.000000,0.000000,0.000000,0.000000,1.000000

## Training and Modeling <a id=Training_and_Modeling ></a>

### Model Selection <a id=Model_Selection ></a>

Four competing supervised classfication models/algorithms are considered, namely, 
* Logistic Regression classification

### Training and Modeling <a id=Train_and_Model>

### Initial Not-Even-A-Model

In [6]:
#Calculate the mean of `y_train`
train_mean = y_train.mean()
train_mean

Attrition_Numeric    0.160694
dtype: float64

In [7]:
train_var = y_train.var()
train_var

Attrition_Numeric    0.134891
dtype: float64

In [19]:
# grid search function
def grid_search(X_train,y_train,parameters,model):
    scoring = 'roc_auc'
    verbose = 1
    clf_pipeline = Pipeline([("clf",model)])  
    clf_grid = GridSearchCV(clf_pipeline, parameters,  scoring=scoring,verbose = verbose)
    clf_grid.fit(X_train,y_train) 

    print("Best parameters for ", model) 
    print(clf_grid.best_params_)
    print(f"\nBest train %s score: {clf_grid.best_score_ :.2f}" % (scoring))
    return clf_grid.best_estimator_

In [20]:
#Setting ranges for each hyperparameter.
log_params = {"clf__solver": ["lbfgs", "sag", "saga"],
               "clf__C": np.arange(0.1,2,0.1), 
               "clf__class_weight": ["balanced", None]
              }

In [ ]:


classifier = LogisticRegression(fit_intercept=True,max_iter=500,random_state=632966)
log_best_estimator = grid_search(X_train,y_train, log_params,classifier)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedShuffleSplit


logistic_regression = ("model", LogisticRegression(fit_intercept=True,max_iter=500,random_state=632966))

model_params = {"model__C": (np.logspace(start=-4, stop=4, num=30))}

model_pipeline = Pipeline(steps=[logistic_regression])

cross_validator = StratifiedShuffleSplit(n_splits=5, test_size=0.5, random_state=0)
# set up grid search
model_grid = (
  GridSearchCV(estimator=model_pipeline,
                           param_grid=model_params,
                           refit=True, 
                           scoring="f1_weighted", 
                           cv=cross_validator))


# fit model on intercept (random guesses - baseline performance)
null_mod = model_grid.fit(X_train, y_train)

In [13]:
y_tr_pred = np.array([train_mean] * 5)
y_tr_pred[:5]

array([[0.16069413],
       [0.16069413],
       [0.16069413],
       [0.16069413],
       [0.16069413]])

## Metrics

In [ ]:
#R-squared, or coefficient of determination
r2_score(y_train, y_tr_pred), r2_score(y_test, y_te_pred)

In [ ]:
#Mean Absolute Error
mean_absolute_error(y_train, y_tr_pred), mean_absolute_error(y_test, y_te_pred)

In [ ]:
#Mean Squared Error
mean_squared_error(y_train, y_tr_pred), mean_squared_error(y_test, y_te_pred)

## Refining The Linear Model

## Additional Models: <a id=AdditionalModels></a>

## Summary <a id =Summary> </a>

## Recommendations <a id = Recom></a>